<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="{{ url_for('routes', route='mentors') }}">Mentors</a>
        <a href="{{ url_for('routes', route='all-school') }}">All School</a>
        <a href="{{ url_for('routes', route='mentors-by-country') }}">Mentors by Country</a>
        <a href="{{ url_for('routes', route='contacts') }}">Contacts</a>
        <a href="{{ url_for('routes', route='applicants') }}">Applicants</a>
        <a href="{{ url_for('routes', route='applicants-and-mentors') }}">Applicants and Mentors</a>
    </body>
</html>