<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='freepik.jpg') }}">
    </head>
    <body>
    <table>
        <tr>
        {% for i in table_header %}
            <th>{{ i }}</th>    
        {% endfor %}
        </tr>
        {% for i in data %}
        <tr>
            {% for j in table_header %}
                <td>{{ i[j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </body>
</html>